@import "https://fonts.googleapis.com/css?family=Poiret+One";

$backgroundColor: rgb(21, 27, 30);
$darkerBackgroundColor: rgb(28, 31, 22);
$fontColor: rgb(136, 145, 151);
$darkerFontColor: rgb(55, 62, 44);

html,
body {
  background-color: $backgroundColor !important;
  height: 100%;
  color: $fontColor !important;
}

.container {
  min-height: 100%;
  overflow: hidden;
}

.row {
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: hidden;
}

.row [class*="col-"] {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

h2 {
  padding-bottom: 15px;
}

#tagline {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
  font-size: 18px;
}

// Apply to all h tags
@for $index from 1 to 6 {
  h#{$index} {
    font-family: "Poiret One", cursive !important;
  }
}

#social-links {
  padding: 15px;

  .link-block {
    display: inline-block;
    padding: 5px 10px;

    :hover {
      text-decoration: none;
    }
  }

  a {
    color: $fontColor;
    font-size: 42px;
  }
}

#nav-header {
  display: inline-block;

  #icon-container {
    display: inline-block;
    font-size: 64px;
    padding-left: 8px;
  }

  #title {
    display: inline-block;
    position: relative;
    top: 9px;

    h1 {
      margin-bottom: 2px;
    }
  }
}

#profile-pic-container {
  img {
    border-radius: 1500px;
    border: 1px solid;
    width: 70%;
    margin-bottom: 10px;
  }

  div {
    text-align: center;
  }
}

#technologies {
  display: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  img {
    width: 35%;
    padding-left: 3%;
    padding-right: 3%;
  }

  #mongodb {
    margin-top: -20px;
  }

  #nodejs {
    margin-top: -34px;
  }
}

#minor-technologies {
  display: relative;
  text-align: center;

  img {
    width: 13%;
    padding-left: 2%;
    padding-right: 2%;
  }
}

#map-marker {
  font-size: 24px;
  color: #c14935;
}

#projects-panel {
  .card {
    background-color: $darkerBackgroundColor;
    border: 1px solid $darkerFontColor;
    color: $fontColor;
    min-height: 485px;
    min-width: 175px;

    .btn {
      margin-bottom: 15px;
      margin: 10px;
      display: block;
    }

    p,
    h4 {
      padding: 5px;
    }

    .card-img-top {
      width: 100%;
    }
  }
}

.mouseover {
  &:hover {
    color: #ffc600;
  }
}

#availability-container {
  text-align: center;

  #availability-tagline {
    font-size: 18px;

    i {
      font-size: 22px;
    }

    #remote {
      i {
        color: lightyellow;
      }
    }

    #relocation {
      i {
        color: lightblue;
      }
    }

    #space-travel {
      i {
        color: lightpink;
      }
    }
  }
}

footer {
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
}

#contact-container {
  font-size: 18px;

  i {
    font-size: 24px;
  }
}

#message {
  margin-top: 5px;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
  }

  10% {
    -webkit-transform: rotate(-6deg);
  }

  20% {
    -webkit-transform: rotate(6deg);
  }

  30% {
    -webkit-transform: rotate(0deg);
  }

  40% {
    -webkit-transform: rotate(6deg);
  }

  50% {
    -webkit-transform: rotate(-6deg);
  }

  60% {
    -webkit-transform: rotate(0deg);
  }

  70% {
    -webkit-transform: translate(2px, 1px) rotate(-6deg);
  }

  80% {
    -webkit-transform: translate(-1px, -1px) rotate(6deg);
  }

  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(1px, -2px) rotate(-6deg);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(-6deg);
  }

  20% {
    transform: rotate(6deg);
  }

  30% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(6deg);
  }

  50% {
    transform: rotate(-6deg);
  }

  60% {
    transform: rotate(0deg);
  }

  70% {
    transform: translate(2px, 1px) rotate(-6deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(6deg);
  }

  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-6deg);
  }
}

.shake {
  -webkit-animation-name: shake;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  animation-name: shake;
  animation-duration: 0.8s;
  transform-origin: 50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.yellow {
  color: #ffffe0;
  opacity: 0.8;
}

@-webkit-keyframes launch {
  30% {
    -webkit-transform: rotate(-42deg);
  }

  100% {
    -webkit-transform: translateY(-7009%) rotate(-42deg);
  }
}

@keyframes launch {
  30% {
    transform: rotate(-42deg);
  }

  100% {
    transform: translateY(-7009%) rotate(-42deg);
  }
}

.launch-rocket {
  -webkit-animation-name: launch;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;

  animation-name: launch;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

#rocket {
  position: relative;
}

#rocket:hover {
  cursor: pointer;
  -webkit-animation-name: shake;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

#rocket-fire {
  position: absolute;
  width: 15px;
  transform: rotate(210deg);
  bottom: -16px;
  left: -9px;
  z-index: -5;
}

.hidden {
  display: none;
}

#events-container {
  text-align: center;

  .career-event {
    background-color: rgba(128, 128, 128, 0.25);
    position: relative;
    vertical-align: top;
    display: inline-block;
    border: 1px solid $darkerFontColor;
    border-radius: 5px;
    width: 180px;
    height: 135px;
    margin: 5px;
    color: white;
    text-align: center;

    #position {
      font-size: 12px;
    }

    .date-container {
      position: absolute;
      top: -28px;
      padding: 3px;
      margin-left: 5px;
      margin-right: 5px;
    }

    .info-container {
      text-align: center;
      vertical-align: top;
      display: inline-block;
      width: 90%;
    }
  }
}

.georgian {
  #place {
    color: #bfd2e1;
  }

  #position {
    color: lightgreen;
  }

  img {
    width: 20px;
  }
}

.augmentt {
  #place {
    color: #3298fd;
  }
}

.freelance {
  #place {
    color: #cf76f5;
  }
}

.zaui {
  #place {
    color: #4385f5;
  }
}

.trentu {
  #place {
    color: #c6d6c8;
  }

  #position {
    color: lightblue;
  }

  img {
    width: 20px;
  }
}

.gshift {
  #place {
    border-radius: 4px;
    padding: 3px;
  }

  #the-g {
    color: #828186;
  }

  #the-shift {
    color: #e12826;
  }
}

.omsg {
  #place {
    color: #ffc600;
  }
}

.departmentofdefense {
  #place {
    color: #d25956;
  }
}

#info-icon-container {
  color: lightgray;
  font-size: 20px;
  position: absolute;
  bottom: 5px;
  left: 75px;
}

.center {
  text-align: center;
}

.center-div {
  margin-right: auto;
  margin-left: auto;
}

#blog_link,
#resume_link {
  font-size: 30px !important;
  font-family: Poiret One, cursive !important;
}

img#reactjs {
  width: 20%;
}

.smaller-icon {
  font-size: 24px !important;
}

#current-status > div {
  display: inline-block;
}

#current-status h4 {
  font-size: 20px;
}

#content-container {
  margin-left: 20px;
  margin-right: 20px;
}

.contact-symbols {
  font-size: 22px !important;
}

#canvas {
  position: fixed;
}
