@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Poiret+One';
$backgroundColor: rgb(21, 27, 30);
$darkerBackgroundColor: rgb(28, 31, 22);
$fontColor: rgb(85, 109, 124);
$darkerFontColor: rgb(55, 62, 44);
html,
body {
  background-color: $backgroundColor !important;
  height: 100%;
  color: $fontColor !important;
  font-family: 'Open Sans Condensed', sans-serif;
}

.container {
  min-height: 100%;
  overflow: hidden;
}

.row {
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: hidden;
}

.row [class*="col-"] {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

h2 {
  padding-bottom: 15px;
}

// Apply to all h tags
@for $index from 1 to 6 {
  h#{$index} {
    font-family: 'Poiret One', cursive !important;
  }
}

#social-links {
  padding: 15px;
  div {
    display: inline-block;
    padding: 5px 10px;
  }
  a {
    font-size: 36px;
  }
}

#nav-header {
  display: inline-block;
  #icon-container {
    display: inline-block;
    font-size: 64px;
    padding-right: 8px;
  }
  #title {
    display: inline-block;
    position: relative;
    top: 9px;
    h1 {
      margin-bottom: 2px;
    }
    span {}
  }
}

#profile-pic-container {
  img {
    border-radius: 1000px;
    width: 80%;
  }
  div {
    text-align: center;
  }
}

#technologies {
  display: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  img {
    width: 30%;
    padding-left: 3%;
    padding-right: 3%;
  }
  #mongodb {
    margin-top: -20px;
  }
  #nodejs {
    margin-top: -34px;
  }
}

#minor-technologies {
  display: relative;
  text-align: center;
  img {
    width: 13%;
    padding-left: 2%;
    padding-right: 2%;
  }
}

#map-marker {
  font-size: 24px;
  color: #c14935;
}

#projects-panel {
  .card {
    background-color: $darkerBackgroundColor;
    border: 1px solid $darkerFontColor;
    color: $fontColor;
    min-height: 300px;
    min-width: 175px;
    .card-img-top {
      width: 100%;
    }
  }
}

#availability-container {
  text-align: center;
  #availability-tagline {
    font-size: 18px;
    i {
      font-size: 22px;
    }
    #remote {
      i {
        color: lightyellow;
      }
    }
    #relocation {
      i {
        color: lightblue;
      }
    }
    #space-travel {
      i {
        color: lightpink;
      }
    }
  }
}

footer {
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
}

#contact-container {
  font-size: 18px;
  i {
    font-size: 24px;
  }
}

#message {
  margin-top: 5px;
}