@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Poiret+One';
$backgroundColor: rgb(21, 27, 30);
$fontColor: rgb(85, 109, 124);
html,
body {
  background-color: $backgroundColor !important;
  height: 100%;
  color: $fontColor !important;
  font-family: 'Open Sans Condensed', sans-serif;
}

.container{
  min-height:100%;
  overflow: hidden;
}

// Apply to all h tags
@for $index from 1 to 6 {
  h#{$index} {
    font-family: 'Poiret One', cursive !important;
  }
}

#social-links {
  padding: 15px;
  div {
    display: inline-block;
    padding: 5px 10px;
  }
  a {
    font-size: 36px;
  }
}

#nav-header {
  display: inline-block;
  #icon-container {
    display: inline-block;
    font-size: 64px;
    padding-right:8px;
  }
  #title {
    display: inline-block;
    position: relative;
    top: -8px;
  }
}

#profile-pic-container {
  img {
    border-radius: 1000px;
    width: 80%;
  }
}